/* -------------------------------- 

💡 Styling siblings on hover
🔗 https://codyhouse.co/nuggets/styling-siblings-on-hover

-------------------------------- */


.custom-list {
    /* display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 100px); */
    filter: drop-shadow(5px 5px 5px rgb(103, 90, 90));
  }
  
  .custom-list:hover .custom-list-item:not(:hover) {
    /* filter: grayscale(100%); */
    /* filter: blur(2px); */
    filter: drop-shadow(5px 5px 5px rgb(103, 90, 90));
    /* filter: drop-shadow(1px 3px rgb(103, 90, 90)); */
    /* filter: drop-shadow(16px 16px 20px red) invert(75%); */
    /* filter: invert(25%); */
    /* filter: opacity(55%); */
    /* filter: saturate(30%); */
    /* filter: sepia(60%); */
    /* filter: contrast(175%) brightness(3%); */
    /* filter: drop-shadow(3px 3px red) sepia(100%) drop-shadow(-3px -3px blue); */
    /* opacity: 0.75; */
  }
  
  .custom-list:hover .custom-list-item:not(:hover)::after {
    /* background-color: rgba(#000, 0.5); */
    filter: drop-shadow(5px 5px 5px rgb(103, 90, 90));
  }
  
  @media (min-width: 30rem) {
    .custom-list {
      grid-template-columns: repeat(3, 150px);
    }
  }
  
  .custom-list-item {
    position: relative;
    cursor: pointer;
    transition: .3s;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    filter: drop-shadow(2px 2px 2px rgb(103, 90, 90));
    /* background-image: linear-gradient(to right, #ff9966, #ff5e62); */
    /* background-image: linear-gradient(to right, #FFD194, #D1913C); */
    /* background-image: linear-gradient(to right, #ffefba, #ffffff); */



  }
  
  .custom-list-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0);
    transition: .3s;
  }
  
  .custom-list-item img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  
  /* demo stuff */
  /* body {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  